<h1 class='mb-4'>Hi <%= player_name %>, the game starts now!</h1>
<p> Your selected rounds: <%= player_rounds %> </p>

<div class='d-flex justify-content-center'>
  <h1 class='rock'>
    <a href='/game/throw/rock'>
      <button class='btn btn-secondary rounded-0' type='button'>Rock</button>
    </a>
  </h1>
  <h1 class='paper'>
    <a href='/game/throw/paper'>
      <button class='btn btn-secondary rounded-0' type='button'>Paper</button>
    </a>
  </h1>
  <h1 class='scissors'>
    <a href='/game/throw/scissors'>
      <button class='btn btn-secondary rounded-0' type='button'>Scissors</button>
    </a>
  </h1>
</div>