<h1>Welcome to Rock Paper Scissors Game</h1>
<div class='d-flex justify-content-center mt-5'>
  <h1 class='new-player'>
    <a href='/new-player'>
      <button class='btn btn-danger rounded-0 mx-3' type='button'>New player</button>
    </a>
  </h1>
  <h1 class='old-player'>
    <a href='/all-players'>
      <button class='btn btn-success rounded-0 mx-3' type='button'>Already a player</button>
    </a>
  </h1>
  <h1 class='ranking'>
    <a href='/ranking'>
      <button class='btn btn-warning rounded-0' type='button'>Top 10 Ranking</button>
    </a>
  </h1>
</div>
