<h3>Top Ten Players</h3>

<% @top_ten_results.each do |result| %>
  <% if result.present? %>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <div class="d-grid gap-2">
            <div class='d-flex justify-content-center'>
              <button class='btn btn-success rounded-0 my-1' type='button'><%= result.player.name %></button>
              <button class='btn btn-danger rounded-0 my-1' type='button'><%= result.win_record %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>No players yet.</p>
    <a href='/new-player'>
      <button class='btn btn-danger rounded-0 mx-3' type='button'>New player</button>
    </a>
  <% end %>
<% end %>