<h1>How many times would you like to play?</h1>
<form action='/game/throw' method='post' class='mt-4'>
  <label>
    <div class='d-flex justify-content-center'>
      <section class='form-group'>
        <select name='stage' class="form-select rounded-0">
          <option value='3'>3 Rounds</option>
          <option value='6'>6 Rounds</option>
          <option value='9'>9 Rounds</option>
        </select>
      </section>
      <section class='form-group'>
        <input type='submit' value='Start' class='btn btn-primary rounded-0' />
      </section>
    </div>
  </label>
</form>